In [321]:
import pandas as pd

In [322]:
df = pd.read_excel('/Users/mac/Desktop/CV/Use Case (2).xlsx') #reading the xlsx file into python

In [323]:
df

,Project Code,Project_Status,Calendar,Hours,Week,Forecasted hours,Budget Hours,Service type,Period_From,Period_To,Cost Rate,Department
0,1WK2855,Under Development,EG_02,20.0,2022_W27,9.0,24.0,NaN,2022_W24,2022_W42,33.32,Camera
1,1WK1339,Under Development,EG_02,28.0,2022_W26,12.0,14.0,NaN,2022_W24,2022_W42,33.32,Camera
2,1WK1418,Under Development,EG_02,3.0,2022_W30,21.0,12.0,NaN,2022_W24,2022_W42,33.32,Camera
3,1WK1304,Under Development,EG_02,28.0,2022_W25,19.0,30.0,NaN,2022_W24,2022_W42,33.32,Camera
4,1WK1376,Under Acquisition,EG_02,4.0,2022_W26,6.0,25.0,NaN,2022_W24,2022_W42,33.32,Camera
...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,2022_W40,39.0,4.0,NaN,2022_W24,2022_W42,33.32,Services
80345,H902435,Open,EG_02,16.0,2022_W30,26.0,29.0,NaN,2022_W24,2022_W42,33.32,Services
80346,H901055,Open,EG_02,40.0,2022_W33,34.0,10.0,NaN,2022_W24,2022_W42,33.32,Services
80347,H902440,Open,EG_02,16.0,2022_W41,39.0,11.0,NaN,2022_W24,2022_W42,33.32,Services
80348,H901608,Open,EG_02,40.0,2022_W28,35.0,37.0,NaN,2022_W24,2022_W42,33.32,Services

In [324]:
df.dtypes #checkig the data type of of the columns in order to be ready to aggregate

Project Code         object
Project_Status       object
Calendar             object
Hours               float64
Week                 object
Forecasted hours    float64
Budget Hours        float64
Service type         object
Period_From          object
Period_To            object
Cost Rate           float64
Department           object
dtype: object

In [325]:
df['Department']=df['Department'].astype('string') # changing data types of of column 
df['Project_Status']=df['Project_Status'].astype('string')
df['Project Code']=df['Project Code'].astype('string')
df['Week']=df['Week'].astype('string')

In [326]:
df.dtypes

Project Code         string
Project_Status       string
Calendar             object
Hours               float64
Week                 string
Forecasted hours    float64
Budget Hours        float64
Service type         object
Period_From          object
Period_To            object
Cost Rate           float64
Department           string
dtype: object

In [327]:
df[['year','Week']]=df["Week"].str.split("W",n=1, expand = True) # sparating week column format into week and year
df[['yearF','WeekF']]=df["Period_From"].str.split("W",n=1, expand = True) 
df[['yearT','WeekT']]=df["Period_To"].str.split("W",n=1, expand = True)

In [328]:
df

,Project Code,Project_Status,Calendar,Hours,Week,Forecasted hours,Budget Hours,Service type,Period_From,Period_To,Cost Rate,Department,year,yearF,WeekF,yearT,WeekT
0,1WK2855,Under Development,EG_02,20.0,27,9.0,24.0,NaN,2022_W24,2022_W42,33.32,Camera,2022_,2022_,24,2022_,42
1,1WK1339,Under Development,EG_02,28.0,26,12.0,14.0,NaN,2022_W24,2022_W42,33.32,Camera,2022_,2022_,24,2022_,42
2,1WK1418,Under Development,EG_02,3.0,30,21.0,12.0,NaN,2022_W24,2022_W42,33.32,Camera,2022_,2022_,24,2022_,42
3,1WK1304,Under Development,EG_02,28.0,25,19.0,30.0,NaN,2022_W24,2022_W42,33.32,Camera,2022_,2022_,24,2022_,42
4,1WK1376,Under Acquisition,EG_02,4.0,26,6.0,25.0,NaN,2022_W24,2022_W42,33.32,Camera,2022_,2022_,24,2022_,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,40,39.0,4.0,NaN,2022_W24,2022_W42,33.32,Services,2022_,2022_,24,2022_,42
80345,H902435,Open,EG_02,16.0,30,26.0,29.0,NaN,2022_W24,2022_W42,33.32,Services,2022_,2022_,24,2022_,42
80346,H901055,Open,EG_02,40.0,33,34.0,10.0,NaN,2022_W24,2022_W42,33.32,Services,2022_,2022_,24,2022_,42
80347,H902440,Open,EG_02,16.0,41,39.0,11.0,NaN,2022_W24,2022_W42,33.32,Services,2022_,2022_,24,2022_,42
80348,H901608,Open,EG_02,40.0,28,35.0,37.0,NaN,2022_W24,2022_W42,33.32,Services,2022_,2022_,24,2022_,42

In [329]:
df['year']= df['year'].str.replace('_', '') #adjustine year format after separating
df['yearF']= df['yearF'].str.replace('_', '') 
df['yearT']= df['yearT'].str.replace('_', '')

In [330]:
df

,Project Code,Project_Status,Calendar,Hours,Week,Forecasted hours,Budget Hours,Service type,Period_From,Period_To,Cost Rate,Department,year,yearF,WeekF,yearT,WeekT
0,1WK2855,Under Development,EG_02,20.0,27,9.0,24.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
1,1WK1339,Under Development,EG_02,28.0,26,12.0,14.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
2,1WK1418,Under Development,EG_02,3.0,30,21.0,12.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
3,1WK1304,Under Development,EG_02,28.0,25,19.0,30.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
4,1WK1376,Under Acquisition,EG_02,4.0,26,6.0,25.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,40,39.0,4.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80345,H902435,Open,EG_02,16.0,30,26.0,29.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80346,H901055,Open,EG_02,40.0,33,34.0,10.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80347,H902440,Open,EG_02,16.0,41,39.0,11.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80348,H901608,Open,EG_02,40.0,28,35.0,37.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42

In [331]:
#df['year'] = pd.to_datetime(df['year'])

In [332]:
df.dtypes

Project Code         string
Project_Status       string
Calendar             object
Hours               float64
Week                 string
Forecasted hours    float64
Budget Hours        float64
Service type         object
Period_From          object
Period_To            object
Cost Rate           float64
Department           string
year                 string
yearF                object
WeekF                object
yearT                object
WeekT                object
dtype: object

In [333]:
df

,Project Code,Project_Status,Calendar,Hours,Week,Forecasted hours,Budget Hours,Service type,Period_From,Period_To,Cost Rate,Department,year,yearF,WeekF,yearT,WeekT
0,1WK2855,Under Development,EG_02,20.0,27,9.0,24.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
1,1WK1339,Under Development,EG_02,28.0,26,12.0,14.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
2,1WK1418,Under Development,EG_02,3.0,30,21.0,12.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
3,1WK1304,Under Development,EG_02,28.0,25,19.0,30.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
4,1WK1376,Under Acquisition,EG_02,4.0,26,6.0,25.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,40,39.0,4.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80345,H902435,Open,EG_02,16.0,30,26.0,29.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80346,H901055,Open,EG_02,40.0,33,34.0,10.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80347,H902440,Open,EG_02,16.0,41,39.0,11.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42
80348,H901608,Open,EG_02,40.0,28,35.0,37.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42

In [334]:
def week_to_date(week_number):    #formating week into year days to be able to aggregate and visualize 
    year = '2022'
    week = week_number
    date = "{}-{}-1".format(year, week)
    dt = datetime.strptime(date, "%Y-%W-%w")
    dt = dt.strftime("%Y-%m-%d")
    return dt

df['Date'] = df.apply(lambda row: week_to_date(row['Week']), axis=1)

def week_to_date(week_number):    #formating weekF (period from week) into year days to be able to aggregate and visualize 
    year = '2022'
    week = week_number
    date = "{}-{}-1".format(year, week)
    dt = datetime.strptime(date, "%Y-%W-%w")
    dt = dt.strftime("%Y-%m-%d")
    return dt

df['Date From'] = df.apply(lambda row: week_to_date(row['WeekF']), axis=1)


def week_to_date(week_number):    #formating weekT (perdiod to) into year days to be able to aggregate and visualize 
    year = '2022'
    week = week_number
    date = "{}-{}-1".format(year, week)
    dt = datetime.strptime(date, "%Y-%W-%w")
    dt = dt.strftime("%Y-%m-%d")
    return dt

df['Date To'] = df.apply(lambda row: week_to_date(row['WeekT']), axis=1)

In [335]:
df

,Project Code,Project_Status,Calendar,Hours,Week,Forecasted hours,Budget Hours,Service type,Period_From,Period_To,Cost Rate,Department,year,yearF,WeekF,yearT,WeekT,Date,Date From,Date To
0,1WK2855,Under Development,EG_02,20.0,27,9.0,24.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-07-04,2022-06-13,2022-10-17
1,1WK1339,Under Development,EG_02,28.0,26,12.0,14.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-06-27,2022-06-13,2022-10-17
2,1WK1418,Under Development,EG_02,3.0,30,21.0,12.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-07-25,2022-06-13,2022-10-17
3,1WK1304,Under Development,EG_02,28.0,25,19.0,30.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-06-20,2022-06-13,2022-10-17
4,1WK1376,Under Acquisition,EG_02,4.0,26,6.0,25.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-06-27,2022-06-13,2022-10-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,40,39.0,4.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-10-03,2022-06-13,2022-10-17
80345,H902435,Open,EG_02,16.0,30,26.0,29.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-07-25,2022-06-13,2022-10-17
80346,H901055,Open,EG_02,40.0,33,34.0,10.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-08-15,2022-06-13,2022-10-17
80347,H902440,Open,EG_02,16.0,41,39.0,11.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-10-10,2022-06-13,2022-10-17
80348,H901608,Open,EG_02,40.0,28,35.0,37.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-07-11,2022-06-13,2022-10-17

In [336]:
def week_to_date(week_number):    #formating week into year days to be able to aggregate and visualize 
    year = '2022'
    week = week_number
    date = "{}-{}-1".format(year, week)
    dt = datetime.strptime(date, "%Y-%W-%w")
    dt = dt.strftime("%Y-%m-%d")
    return dt

df['Date'] = df.apply(lambda row: week_to_date(row['Week']), axis=1)

In [337]:
df # now we need to remove the old columns for cleaning sake

,Project Code,Project_Status,Calendar,Hours,Week,Forecasted hours,Budget Hours,Service type,Period_From,Period_To,Cost Rate,Department,year,yearF,WeekF,yearT,WeekT,Date,Date From,Date To
0,1WK2855,Under Development,EG_02,20.0,27,9.0,24.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-07-04,2022-06-13,2022-10-17
1,1WK1339,Under Development,EG_02,28.0,26,12.0,14.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-06-27,2022-06-13,2022-10-17
2,1WK1418,Under Development,EG_02,3.0,30,21.0,12.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-07-25,2022-06-13,2022-10-17
3,1WK1304,Under Development,EG_02,28.0,25,19.0,30.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-06-20,2022-06-13,2022-10-17
4,1WK1376,Under Acquisition,EG_02,4.0,26,6.0,25.0,NaN,2022_W24,2022_W42,33.32,Camera,2022,2022,24,2022,42,2022-06-27,2022-06-13,2022-10-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,40,39.0,4.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-10-03,2022-06-13,2022-10-17
80345,H902435,Open,EG_02,16.0,30,26.0,29.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-07-25,2022-06-13,2022-10-17
80346,H901055,Open,EG_02,40.0,33,34.0,10.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-08-15,2022-06-13,2022-10-17
80347,H902440,Open,EG_02,16.0,41,39.0,11.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-10-10,2022-06-13,2022-10-17
80348,H901608,Open,EG_02,40.0,28,35.0,37.0,NaN,2022_W24,2022_W42,33.32,Services,2022,2022,24,2022,42,2022-07-11,2022-06-13,2022-10-17

In [338]:
df=df.drop(['Week','year','WeekT','yearT','WeekF','yearF','Period_To','Period_From'], 1) #  extra columns deleted [week],[year]

/var/folders/tn/v5h0v3f947v3vj1thpkfqrgh0000gn/T/ipykernel_34039/958442704.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df=df.drop(['Week','year','WeekT','yearT','WeekF','yearF','Period_To','Period_From'], 1) #  extra columns deleted [week],[year]

In [339]:
#now that we've cleaned the data,going further will be the calculation phase

In [340]:
df['Budget Cost'] = df['Budget Hours'] * df['Cost Rate'] #getting the actualy cost for (forecast, budget, actual) hours spent
df['Plannded Cost'] = df['Forecasted hours'] * df['Cost Rate']
df['Actual Cost'] = df['Hours'] * df['Cost Rate']

In [341]:
df

,Project Code,Project_Status,Calendar,Hours,Forecasted hours,Budget Hours,Service type,Cost Rate,Department,Date,Date From,Date To,Budget Cost,Plannded Cost,Actual Cost
0,1WK2855,Under Development,EG_02,20.0,9.0,24.0,NaN,33.32,Camera,2022-07-04,2022-06-13,2022-10-17,799.68,299.88,666.40
1,1WK1339,Under Development,EG_02,28.0,12.0,14.0,NaN,33.32,Camera,2022-06-27,2022-06-13,2022-10-17,466.48,399.84,932.96
2,1WK1418,Under Development,EG_02,3.0,21.0,12.0,NaN,33.32,Camera,2022-07-25,2022-06-13,2022-10-17,399.84,699.72,99.96
3,1WK1304,Under Development,EG_02,28.0,19.0,30.0,NaN,33.32,Camera,2022-06-20,2022-06-13,2022-10-17,999.60,633.08,932.96
4,1WK1376,Under Acquisition,EG_02,4.0,6.0,25.0,NaN,33.32,Camera,2022-06-27,2022-06-13,2022-10-17,833.00,199.92,133.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,39.0,4.0,NaN,33.32,Services,2022-10-03,2022-06-13,2022-10-17,133.28,1299.48,266.56
80345,H902435,Open,EG_02,16.0,26.0,29.0,NaN,33.32,Services,2022-07-25,2022-06-13,2022-10-17,966.28,866.32,533.12
80346,H901055,Open,EG_02,40.0,34.0,10.0,NaN,33.32,Services,2022-08-15,2022-06-13,2022-10-17,333.20,1132.88,1332.80
80347,H902440,Open,EG_02,16.0,39.0,11.0,NaN,33.32,Services,2022-10-10,2022-06-13,2022-10-17,366.52,1299.48,533.12
80348,H901608,Open,EG_02,40.0,35.0,37.0,NaN,33.32,Services,2022-07-11,2022-06-13,2022-10-17,1232.84,1166.20,1332.80

In [342]:
df.dtypes

Project Code         string
Project_Status       string
Calendar             object
Hours               float64
Forecasted hours    float64
Budget Hours        float64
Service type         object
Cost Rate           float64
Department           string
Date                 object
Date From            object
Date To              object
Budget Cost         float64
Plannded Cost       float64
Actual Cost         float64
dtype: object

In [343]:
df["Date To"] = pd.to_datetime(df["Date To"]) # changing data type of dates to aggregate with
df["Date"] = pd.to_datetime(df["Date"])
df["Date From"] = pd.to_datetime(df["Date From"])

In [344]:
df.dtypes

Project Code                string
Project_Status              string
Calendar                    object
Hours                      float64
Forecasted hours           float64
Budget Hours               float64
Service type                object
Cost Rate                  float64
Department                  string
Date                datetime64[ns]
Date From           datetime64[ns]
Date To             datetime64[ns]
Budget Cost                float64
Plannded Cost              float64
Actual Cost                float64
dtype: object

In [345]:
df['diff_days'] = df['Date To']- df['Date From'] #getting the difference of dates of the project

In [346]:
df

,Project Code,Project_Status,Calendar,Hours,Forecasted hours,Budget Hours,Service type,Cost Rate,Department,Date,Date From,Date To,Budget Cost,Plannded Cost,Actual Cost,diff_days
0,1WK2855,Under Development,EG_02,20.0,9.0,24.0,NaN,33.32,Camera,2022-07-04,2022-06-13,2022-10-17,799.68,299.88,666.40,126 days
1,1WK1339,Under Development,EG_02,28.0,12.0,14.0,NaN,33.32,Camera,2022-06-27,2022-06-13,2022-10-17,466.48,399.84,932.96,126 days
2,1WK1418,Under Development,EG_02,3.0,21.0,12.0,NaN,33.32,Camera,2022-07-25,2022-06-13,2022-10-17,399.84,699.72,99.96,126 days
3,1WK1304,Under Development,EG_02,28.0,19.0,30.0,NaN,33.32,Camera,2022-06-20,2022-06-13,2022-10-17,999.60,633.08,932.96,126 days
4,1WK1376,Under Acquisition,EG_02,4.0,6.0,25.0,NaN,33.32,Camera,2022-06-27,2022-06-13,2022-10-17,833.00,199.92,133.28,126 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80344,H901853,Open,EG_02,8.0,39.0,4.0,NaN,33.32,Services,2022-10-03,2022-06-13,2022-10-17,133.28,1299.48,266.56,126 days
80345,H902435,Open,EG_02,16.0,26.0,29.0,NaN,33.32,Services,2022-07-25,2022-06-13,2022-10-17,966.28,866.32,533.12,126 days
80346,H901055,Open,EG_02,40.0,34.0,10.0,NaN,33.32,Services,2022-08-15,2022-06-13,2022-10-17,333.20,1132.88,1332.80,126 days
80347,H902440,Open,EG_02,16.0,39.0,11.0,NaN,33.32,Services,2022-10-10,2022-06-13,2022-10-17,366.52,1299.48,533.12,126 days
80348,H901608,Open,EG_02,40.0,35.0,37.0,NaN,33.32,Services,2022-07-11,2022-06-13,2022-10-17,1232.84,1166.20,1332.80,126 days

In [347]:
df.dtypes

Project Code                 string
Project_Status               string
Calendar                     object
Hours                       float64
Forecasted hours            float64
Budget Hours                float64
Service type                 object
Cost Rate                   float64
Department                   string
Date                 datetime64[ns]
Date From            datetime64[ns]
Date To              datetime64[ns]
Budget Cost                 float64
Plannded Cost               float64
Actual Cost                 float64
diff_days           timedelta64[ns]
dtype: object

In [348]:
df.to_csv('Projects Analysis.csv', index=False)